body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333; 
    color: #fff; 
  }
  
  .parent {
    background-color: #333; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .container {
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 40px;
    text-align: center;
    width: 400px;
    max-width: 90%;
  }
  
  .container h2 {
    color: #dc3545; 
    font-size: 2rem;
    margin-bottom: 20px;
    background-color:#444 ;
  }
  
  /* Form styling */
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff;
  }
  
  .text-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #555; 
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    background-color: #666; 
    color: #fff; 
  }
  
  .text-input:focus {
    border-color: #dc3545; 
  }
  
  .submit-button {
    background-color: #dc3545; /* Red button background */
    color: #fff;
    font-size: 1.2rem;
    padding: 12px 35px;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    margin: auto;
  }
  
  .submit-button:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  